/***************** global init ***************/

/**********************  *********************/
.my-swiper, .my-swiper2 {max-width: 720px; margin: 50px auto;}
.swiper-pagination-bullet-active {background-color: #f00;}
.swiper-button-next, .swiper-button-prev {color: #f00;}

/******************* 반응형 ******************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}